# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PracticaT2-A.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tony9\Desktop\PracticaT2-A\.idea\.idea.PracticaT2-A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
